html {
  direction: rtl;
}

:root {
  --main-color: #ec5c0e;
  --light-main-color: #281b11;
}

.text-main-color {
  color: var(--main-color);
}
.bg-main-color {
  background-color: var(--main-color);
}
.border-main-color {
  border: 1px solid var(--main-color);
}
.text-light-main-color {
  color: var(--light-main-color);
}
.bg-light-main-color {
  background-color: var(--light-main-color);
}
.w-fit {
  width: fit-content;
}
.circle-rounded {
  border-radius: 50%;
}
.cursor-pointer {
  cursor: pointer;
}

/* Navbar */
nav {
  z-index: 99999;
}
.pill-link {
  color: #aaa !important;
  border-radius: 40px;
  transition: 0.3s ease;
}
.pill-active {
  background: var(--main-color) !important; 
  color: white !important;
  border-radius: 40px;
  font-weight: 600;
}
.pill-link:hover {
  color: white !important;
}

.active:focus {
  color: var(--main-color) !important;
}
.active:hover {
  color: var(--main-color) !important;
}
.line::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 3px;
  vertical-align: middle;
  background-color: var(--main-color);
}
a {
  text-decoration: none !important;
  color: gray !important;
}
.current {
  background: var(--main-color) !important;
  color: white !important;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

input {
  border: 1px solid transparent;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--main-color);
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.1));
  z-index: 1;
}

.card-body,
.badge {
  z-index: 2;
}




/* Animations */
.pulsate-bck {
  animation: pulsate-bck 0.5s ease-in-out infinite both;
}
@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
